<div class="alert alert-info">
<h2> Комментарий от ревьюера<a class="tocSkip"></a></h2>
Привет. Меня зовут Алина Гусева, я буду делать ревью к твоей работе по исследовательскому анализу данных. В дальнейшем предлагаю общаться на "ты".
    
    
Видно, что ты старался, делая проект. Все ключевые этапы проекта выполнены, в целом тебе удалось со всем справиться. Особенно хочется отметить, что соблюдена структура проекта, а код написан аккуратно.
    
Для того, чтобы и тебе и мне удобнее бы
    ло ориентироваться в комментариях, я буду помечать их разными цветами:
- красный цвет означает комментарии, которые требуют доработки. Как только ты их исправишь - проект будет принят;
- желтый цвет - то, что в следующий раз можно будет сделать по-другому. На твое усмотрение можешь доделать маленькие правки сейчас или учесть замечание для выполнения следующих проектов;
- зеленый цвет - очень элегантные и удачные решение, которые желательно использовать в дальнейшей работе.
- синий цвет - информация
    
Предлагаю работать над проектом в диалоге: если ты что-то изменяешь или вносишь какие-то коррективы - выделяй это каким-нибудь цветом и пиши об этом мне. Так мне гораздо легче будет отследить сделанные изменения.
    
Также попрошу тебя не изменять и не удалять мои комментарии, чтобы проверка твоего самостоятельного проекта прошла оперативнее.
    
 
</div>

> <big> Приятно познакомиться, Алина! </big>

# Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

## Шаг 1. Откройте файл с данными и изучите общую информацию

###### Прочитаем файл и выведем общую информацию

In [2]:
import pandas
import pandas as pd
from pymystem3 import Mystem

In [3]:
data=pd.read_csv('/datasets/data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

**Вывод**

###### Таблица содержит 12 столбцов, 21 525 записей в каждом столбце, в двух столбцах `days_employed`  и `total_income` есть отклонения характер которых проверим далее

<div class="alert alert-success">
<h2> Комментарий от ревьюера<a class="tocSkip"></a></h2>
Молодец, хороший тон использовать метод info() для получения общей информации из таблицы. Для более детального изучения можно воспользоваться методом describe(). 
    
 
</div>

## Шаг 2. Предобработка данных

### Обработка пропусков

###### Выведем первые 10 строк таблицы:

In [46]:
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

###### Получим данные по нулевым значениям

In [47]:
data.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Вывод**

1. Данные содержат нулевые значения в столбцах `days_employed`- общий трудовой стаж в днях и `total_income` - ежемесячный доход.
2. В столбце "days_employed"- общий трудовой стаж в днях есть отрицательные значения, надо выяснить нужны ли данные в этом столбце для дальнейшего анализа, если не нужны, то предлагаем их просто игнорировать.
3. В столбце "total_income" - ежемесячный доход нулевые значения могут быть связаны на самом деле с отсутсвием дохода, ну и конечно ошибки при внесении данных оператором.

<div class="alert alert-success">
<h2> Комментарий от ревьюера<a class="tocSkip"></a></h2>
Все верно! Как думаешь, пропуски в двух столбцах симметирчны?
    
 
</div>

> ###### Думаю что симметричны, пропуски в одних и тех же строках

<div class="alert alert-success">
<h2> Комментарий от ревьюера 2<a class="tocSkip"></a></h2>
Да, пропуски симметричны. Но лучше, все-таки проверить. Например, можно выевсти на экран количество пропусков в двух столбцах одновременно и сравнить с общим пропуском в таблице.
    
 
</div>

###### Исправления: Найдем средний доход по сгруппированым типам занятости

In [57]:
mean_income_type = data.groupby('income_type')['total_income'].mean()
mean_income_type

income_type
безработный        131339.751676
в декрете           53829.130729
госслужащий        170898.309923
компаньон          202417.461462
пенсионер          137127.465690
предприниматель    499163.144947
сотрудник          161380.260488
студент             98201.625314
Name: total_income, dtype: float64

###### Исправления:Применим метод `transform` для получения средних значений для всех групп

In [58]:
mean_income_type_tr=data.groupby('income_type')['total_income'].transform('mean')
mean_income_type_tr

0        161380.260488
1        161380.260488
2        161380.260488
3        161380.260488
4        137127.465690
             ...
21520    202417.461462
21521    137127.465690
21522    161380.260488
21523    161380.260488
21524    161380.260488
Name: total_income, Length: 21525, dtype: float64

###### Исправления: Закомментирую предыдущий вариант.

In [48]:
#median_income_type = data['total_income'].mean()
#median_income_type

167422.30220817294

###### Исправления: Заменим отсутсвующие значения на средние полученные методом `transform`

In [59]:
data['total_income'].fillna(mean_income_type_tr, inplace=True)

In [54]:
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

###### Исправления:  Проверим произведенную замену:

In [55]:
data.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income           0
purpose                0
dtype: int64

<div class="alert alert-danger">
<h2> Комментарий от ревьюера<a class="tocSkip"></a></h2>
Хм... пишешь про сгруппированный данные, а находишь средний доход по всем заемщикам. Это не совсем правильно. Здесь нужно предварительно сгруппировать данные, а затем заполнять пропуски относительно этих групп. 
 
</div>

> ###### Отвлекался в этом месте и потеряв связующую нить, изменил алгоритм заполнения пропусков. Сейчас сделал *надеюсь* как должно быть)

<div class="alert alert-success">
<h2> Комментарий от ревьюера 2<a class="tocSkip"></a></h2>
Молодец, все верно! Самый оптимальный способ --- использовани метода transform()
 
</div>

###### Исправления: Закомментируем и эту часть Заменим пустые значения на среднее значение

In [56]:
#data['total_income'].fillna(median_income_type, inplace = True)
#data.isnull().sum()

### Замена типа данных

###### Проведем замену `float` на `int` в столбце `total_income`

In [8]:
data['total_income'] = data['total_income'].astype('int')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null int64
purpose             21525 non-null object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.0+ MB

**Вывод**

###### Получить данные о трудовом стаже мы не можем, приводить к среднему значению абсурдно. В анализе столбец не участвет считаю им можно пренебречь. Для "красоты" заменим пропуски на "unknown"

In [9]:
data['days_employed'] = data['days_employed'].fillna('unknown')
data.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

<div class="alert alert-success">
<h2> Комментарий от ревьюера<a class="tocSkip"></a></h2>
Поскольку в рамках этого исследования столбец со стажем не пригодится, то можно заполнить пропуски любым значением. Только лучше, все-таки, каким-нибдуь числовым. Иначе, этот столбец будет иметь формат object, а лучше int. Так как числовой формат данных требует меньше места, чем текстовый.
    
    
О некорректных значениях в этом столбце необходимо сообщить разработчикам базы данных во иззбежании дальнейших неприятностей.
    
 
</div>

###### Попробуем найти прочие отклонения - артефакты -  в данных

In [10]:
data['gender'].value_counts()

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

###### Удалим знчение ХНА и сделаем проверку:

In [11]:
data=data.drop(data[data['gender']=='XNA'].index)

In [12]:
data['gender'].value_counts()

F    14236
M     7288
Name: gender, dtype: int64

###### Произведем проверку поля `children`:

In [13]:
data['children'].value_counts()

 0     14148
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

###### Сделаем предположение, что 20 детей это всё таки 2, а значение -1 исправим на 1:

In [14]:
data['children']=data['children'].replace(-1,1)
data['children']=data['children'].replace(20,2)

<div class="alert alert-success">
<h2> Комментарий от ревьюера<a class="tocSkip"></a></h2>
Верно, некорректные значения в столбце с детьми необходимо заменить
    
 
</div>

###### Так же повторно проверяем что получилось:

In [15]:
data['children'].value_counts()

0    14148
1     4865
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

###### У нас остается поле `dob_years`:

In [16]:
data['dob_years'].unique()

array([42, 36, 33, 32, 53, 27, 43, 50, 35, 41, 40, 65, 54, 56, 26, 48, 24,
       21, 57, 67, 28, 63, 62, 47, 34, 68, 25, 31, 30, 20, 49, 37, 45, 61,
       64, 44, 52, 46, 23, 38, 39, 51,  0, 59, 29, 60, 55, 58, 71, 22, 73,
       66, 69, 19, 72, 70, 74, 75])

###### Анализ показывает, что и здесь есть ошибки: удаляем возраст равный "0"

In [17]:
data=data.drop(data[data['dob_years'] == 0].index)

<div class="alert alert-success">
<h2> Комментарий от ревьюера<a class="tocSkip"></a></h2>
Можно удалить, так как таких строк совсем  мало, или заменить на минимальый возраст, с которого можно получить кредит.
</div>

In [18]:
data['dob_years'].unique()

array([42, 36, 33, 32, 53, 27, 43, 50, 35, 41, 40, 65, 54, 56, 26, 48, 24,
       21, 57, 67, 28, 63, 62, 47, 34, 68, 25, 31, 30, 20, 49, 37, 45, 61,
       64, 44, 52, 46, 23, 38, 39, 51, 59, 29, 60, 55, 58, 71, 22, 73, 66,
       69, 19, 72, 70, 74, 75])

###### В поле `dob_years`  остались только релевантные значения.

### Обработка дубликатов

###### Проверим данные на дубликаты:

In [19]:
data.duplicated().sum()

54

###### Выбираем уникальные значения в столбце `education`

In [20]:
data['education'].value_counts()

среднее                13691
высшее                  4686
СРЕДНЕЕ                  770
Среднее                  708
неоконченное высшее      665
ВЫСШЕЕ                   273
Высшее                   266
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
Ученая степень             1
УЧЕНАЯ СТЕПЕНЬ             1
Name: education, dtype: int64

###### Визуально можно определить, что дубликаты возникают из-за различного написания `education`. Перезапишем все значения в нижнем регистре:

In [21]:
data['education'] = data['education'].str.lower()
data['education'].value_counts()

среднее                15169
высшее                  5225
неоконченное высшее      741
начальное                282
ученая степень             6
Name: education, dtype: int64

In [22]:
data.duplicated().sum()

71

In [23]:
data = data.drop_duplicates().reset_index(drop = True)

In [24]:
data.duplicated().sum()

0

<div class="alert alert-success">
<h2> Комментарий от ревьюера<a class="tocSkip"></a></h2>
Здесь важно обратить внимание на то, что сначала необходимо привести текстовый формат данных к единому виду(регистр), а затем проверять на дубликаты. Иначе результат может получится другой.
 
</div>

**Вывод**

Приведены к единому написанию дубликаты в столбце `education` - регистр. 
Дубликаты могли появиться в результате сбоя программы или ошибок оператора. Принято решение удалить остальные дубликаты.

### Лемматизация

In [25]:
from pymystem3 import Mystem
m = Mystem()

###### Необходимо определить, на какие цели люди берут кредит:

In [26]:
text = data['purpose'].value_counts()
text

свадьба                                   786
на проведение свадьбы                     764
сыграть свадьбу                           760
операции с недвижимостью                  672
покупка коммерческой недвижимости         658
покупка жилья для сдачи                   649
операции с коммерческой недвижимостью     648
операции с жильем                         646
покупка жилья                             640
жилье                                     640
покупка жилья для семьи                   637
строительство собственной недвижимости    633
недвижимость                              629
операции со своей недвижимостью           627
строительство жилой недвижимости          621
строительство недвижимости                619
покупка своего жилья                      619
покупка недвижимости                      617
ремонт жилью                              605
покупка жилой недвижимости                603
на покупку своего автомобиля              502
заняться высшим образованием              493
автомобиль                                490
сделка с подержанным автомобилем          484
на покупку подержанного автомобиля        478
автомобили                                476
свой автомобиль                           475
на покупку автомобиля                     466
приобретение автомобиля                   459
дополнительное образование                458
сделка с автомобилем                      454
высшее образование                        449
получение дополнительного образования     444
образование                               444
получение образования                     441
профильное образование                    435
получение высшего образования             424
заняться образованием                     407
Name: purpose, dtype: int64

###### Получим уникальные значения:

In [27]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

###### Выделяем основные направления целей кредитования: жилье, автомобиль, образование, свадьба.

In [28]:
def lemmatization (purpose):
    
    lemma_tmp=m.lemmatize(purpose)
              
    if ('жилье' in lemma_tmp) or ('недвижимость' in lemma_tmp):
        lemma_name_purpose='жилье'
        return lemma_name_purpose
    elif 'автомобиль' in lemma_tmp:
        lemma_name_purpose='автомобиль'
        return lemma_name_purpose
    elif 'образование' in lemma_tmp:
        lemma_name_purpose='образование'
        return lemma_name_purpose
    elif 'свадьба' in lemma_tmp:
        lemma_name_purpose='свадьба'
        return lemma_name_purpose
    else:
        lemma_name_purpose='личные цели'
        return lemma_name_purpose

In [29]:
data['purpose_lem']=data['purpose'].apply(lemmatization)

<div class="alert alert-success">
<h2> Комментарий от ревьюера<a class="tocSkip"></a></h2>
Отлично, лемматизация прошла успешно. Удалось выделить основные цели получения кредита.
 
</div>

###### Добавляем столбец к таблице, в котором указываем лемматизированые цели заемщиков:

In [30]:
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_lem
0,1,-8437.67,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,жилье
1,1,-4024.8,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,автомобиль
2,0,-5623.42,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,жилье
3,3,-4124.75,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,образование
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,свадьба
5,0,-926.186,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,жилье
6,0,-2879.2,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,жилье
7,0,-152.78,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,образование
8,2,-6929.87,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,свадьба
9,0,-2188.76,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,жилье

**Вывод**

###### После лемматизации данных цели разбили на категории, в таком виде их удобнее группировать и анализировать.

### Категоризация данных

###### Произведем сортировку данных по столбцу `total_income` - уровень дохода:

In [31]:
data.sort_values(by='total_income')

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_lem
14479,0,359219,57,среднее,1,женат / замужем,0,F,пенсионер,1,20667,недвижимость,жилье
12918,0,369709,37,среднее,1,гражданский брак,1,M,пенсионер,0,21205,заняться высшим образованием,образование
16053,1,-3642.82,52,среднее,1,женат / замужем,0,M,сотрудник,0,21367,приобретение автомобиля,автомобиль
1590,0,359726,68,среднее,1,гражданский брак,1,M,пенсионер,0,21695,на проведение свадьбы,свадьба
14173,0,346602,61,среднее,1,женат / замужем,0,F,пенсионер,0,21895,недвижимость,жилье
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17050,0,-5734.13,42,высшее,0,гражданский брак,1,M,компаньон,0,1711309,сыграть свадьбу,свадьба
20642,0,-4719.27,61,среднее,1,Не женат / не замужем,4,F,сотрудник,0,1715018,покупка жилья для семьи,жилье
9115,1,-5248.55,35,среднее,1,гражданский брак,1,M,сотрудник,0,1726276,дополнительное образование,образование
19451,1,-2577.66,39,высшее,0,женат / замужем,0,M,компаньон,1,2200852,строительство недвижимости,жилье
12326,0,-1477.44,44,высшее,0,женат / замужем,0,M,компаньон,0,2265604,ремонт жилью,жилье

###### Доход изменяется от 20к до 2,2кк рублей, предлагаем разбить данные на категории с помощью функции:

In [32]:
def total_income_group(income):
    if 20000 <= income < 70000:
        return "низкий доход"
    if 70001 <= income < 120000:
        return 'средний доход'
    if 120001 <= income < 200000:
        return 'высокий доход'
    return 'отличный доход'

In [13]:
data['total_income'].quantile([0.25, 0.5, 0.75])

0.25    103053.152913
0.50    145017.937533
0.75    203435.067663
Name: total_income, dtype: float64

<div class="alert alert-success">
<h2> Комментарий от ревьюера<a class="tocSkip"></a></h2>
Хорошо, у тебя получилось разбить клиентов на группы по уровню дохода. А почему ты выбрал именно такие границы?
    
Как вариант, можно воспользоваться статистическими характертисиками и разбить по квантилям. Подробнее про этот способ можешь прочитать вот <a href='https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.quantile.html'>здесь.</a>
 
</div>

> ###### Границы выбраны с целью классификации уровня дохода клиентов `экспертно`, спасибо за метод по квантилям, считаю что это было бы наиболее корректным с точки зрения статистики

In [33]:
data['total_income_group'] = data['total_income'].apply(total_income_group)
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_lem,total_income_group
0,1,-8437.67,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,жилье,отличный доход
1,1,-4024.8,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,автомобиль,средний доход
2,0,-5623.42,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,жилье,высокий доход
3,3,-4124.75,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,образование,отличный доход
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,свадьба,высокий доход
5,0,-926.186,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,жилье,отличный доход
6,0,-2879.2,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,жилье,отличный доход
7,0,-152.78,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,образование,высокий доход
8,2,-6929.87,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,свадьба,средний доход
9,0,-2188.76,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,жилье,высокий доход

###### Проверим себя:

In [34]:
total_income_group(350000)

'отличный доход'

**Вывод**

###### Сгруппированные данные по доходу также удобнее группировать и анализировать в таком виде.

## Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

###### Ответим на данный вопос формированием таблицы и расчета коэффициента связывающего эти категории:

In [35]:
debt_and_children = pd.DataFrame()
debt_and_children['count_credit'] = data.groupby('children')['debt'].count()
debt_and_children['sum_debt'] = data.groupby('children')['debt'].sum()
debt_and_children['result_effect'] = debt_and_children['sum_debt'] / debt_and_children['count_credit'] 
debt_and_children.sort_values('result_effect', ascending = False)

          count_credit  sum_debt  result_effect
children
4                   41         4       0.097561
2                 2114       202       0.095553
1                 4839       442       0.091341
3                  328        27       0.082317
0                14021      1058       0.075458
5                    9         0       0.000000

**Вывод**

###### Из таблицы можно сделать вывод, что более высокий риск, связанный с просрочкой - это семьи с 4 детьми. Семьи с тремя детьми чаще платят в срок. Бездетные меньше всего допускают просрочки по кредиту. Значение коэффициента отличается незначительно.

<div class="alert alert-success">
<h2> Комментарий от ревьюера<a class="tocSkip"></a></h2>
Верно, заемщики без детей самые ответственные)
    
Кстати, для решения данной задачи удобно использовать функцию pivot_table()   
 
</div>

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [36]:
debt_and_family_status = pd.DataFrame()
debt_and_family_status['count_credit'] = data.groupby('family_status')['debt'].count()
debt_and_family_status['sum_debt'] = data.groupby('family_status')['debt'].sum()
debt_and_family_status['result_effect'] = debt_and_family_status['sum_debt'] / debt_and_family_status['count_credit'] 
debt_and_family_status.sort_values('result_effect', ascending = False)

                       count_credit  sum_debt  result_effect
family_status
Не женат / не замужем          2794       273       0.097709
гражданский брак               4129       386       0.093485
женат / замужем               12290       927       0.075427
в разводе                      1185        85       0.071730
вдовец / вдова                  954        62       0.064990

**Вывод**

###### В данном случае можно сделать вывод что, люди состоящие в браке или ранее состоящие допускают меньше задолженностей по возврату кредита, чем люди никогда не вступавшие в брак.

<div class="alert alert-success">
<h2> Комментарий от ревьюера <a class="tocSkip"></a></h2>
Посмотрев на сводную таблицу, можно увидеть, что доля просроченых кредитов больше у людей, которые находятся в гражданском браке или не женаты. Чаще всего возращают кредиты вдовцы и вдовы.
</div>

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [37]:
debt_and_total_income_group = pd.DataFrame()
debt_and_total_income_group['count_total_credit'] = data.groupby('total_income_group')['debt'].count()
debt_and_total_income_group['sum_total_debt'] = data.groupby('total_income_group')['debt'].sum()
debt_and_total_income_group['result_effect'] = debt_and_total_income_group['sum_total_debt'] / debt_and_total_income_group['count_total_credit'] 
debt_and_total_income_group.sort_values('result_effect', ascending = False)

                    count_total_credit  sum_total_debt  result_effect
total_income_group
высокий доход                     9505             828       0.087112
средний доход                     5339             447       0.083724
отличный доход                    5039             357       0.070847
низкий доход                      1469             101       0.068754

**Вывод**

###### Как не странно, но меньше всего просрочек по кредитам у людей с низким и очень высоким доходом, а люди имеющие высокий или средний доход позволяют себе не платить вовремя.

<div class="alert alert-success">
<h2> Комментарий от ревьюера <a class="tocSkip"></a></h2>
Здесь многое зависит от того, как ты разобьешь заемщиков на группы. Попробуй разделить на равные группы по количеству человек и сравни результат:)
</div>

- Как разные цели кредита влияют на его возврат в срок?

In [38]:
debt_and_purpose_lem = pd.DataFrame()
debt_and_purpose_lem['count_credit'] = data.groupby('purpose_lem')['debt'].count()
debt_and_purpose_lem['sum_debt'] = data.groupby('purpose_lem')['debt'].sum()
debt_and_purpose_lem['result_effect'] = debt_and_purpose_lem['sum_debt'] / debt_and_purpose_lem['count_credit'] 
debt_and_purpose_lem.sort_values('result_effect', ascending = False)

             count_credit  sum_debt  result_effect
purpose_lem
автомобиль           4284       400       0.093371
образование          3995       370       0.092616
свадьба              2310       184       0.079654
жилье               10763       779       0.072378

**Вывод**

###### В случае с целями кредита наиболее предпочтительнее для банка это ипотека и кредит на свадьбу, так они имееют меньше всего шансов быть невыплаченными.

## Шаг 4. Общий вывод

###### Давайте поробуем нарисовать модель идельного заемщика:
- семейное положение: вдовец или вдова;
- дети: либо 3 ребенка, либо вообще без детей;
- доход: низкий;
- цель кредита: ипотека.

# Из этого следует, что вдовец с низким достатком и без детей, берущий ипотеку - имеет больше всего шансов на положительное решение  кредитного скоринга построенной на представленных данных.

<div class="alert alert-success">
<h2> Комментарий от ревьюера<a class="tocSkip"></a></h2>

Поздравляю с первым успешным  проектом!

- Ты хорошо делаешь выводы и анализируешь результаты.
    
- Код написан аккуратно и качественно, видно, что есть какой-то определенный бэкграунд.

- Соблюдена структура проекта, было приятно проверять:)
    
- Все написано четко и по делу

Осталось исправить замечания и проект будет принят)


Желаю дальнейших успехов!


</div>

## Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [x]  файл изучен;
- [x]  определены пропущенные значения;
- [x]  заполнены пропущенные значения;
- [x]  есть пояснение, какие пропущенные значения обнаружены;
- [x]  описаны возможные причины появления пропусков в данных;
- [x]  объяснено, по какому принципу заполнены пропуски;
- [x]  заменен вещественный тип данных на целочисленный;
- [x]  есть пояснение, какой метод используется для изменения типа данных и почему;
- [x]  удалены дубликаты;
- [x]  есть пояснение, какой метод используется для поиска и удаления дубликатов;
- [x]  описаны возможные причины появления дубликатов в данных;
- [x]  выделены леммы в значениях столбца с целями получения кредита;
- [x]  описан процесс лемматизации;
- [x]  данные категоризированы;
- [x]  есть объяснение принципа категоризации данных;
- [x]  есть ответ на вопрос: "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Как разные цели кредита влияют на его возврат в срок?";
- [x]  в каждом этапе есть выводы;
- [x]  есть общий вывод.